header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  /* Dropdown styling */
  .nav-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .nav-dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 160px; /* Adjust the width as needed */
    border-top: 2px solid white;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .nav-links.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .nav-links a {
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
  }
  
  .nav-links a:hover {
    background-color: #444;
  }
  